---
- name: Query {{ item.aci_query_title | regex_replace('_', ' ') }}
  aci_rest:
    host: "{{ inventory_hostname }}"
    username: "{{ user }}"
    password: "{{ pass }}"
    use_ssl: yes
    validate_certs: false
    path: "{{ item.api_query_filter }}"
    method: get
  register: aci_response
  tags: always
